body {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background-image: url(images/bg4.jpg);
/*   font-family: "Lato,sans-serif, calibri, Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: "Merriweather", Georgia, serif;

}

p, li {
  text-align: justify;
/*   font-family: Montserrat; */
  font-family: "Merriweather", Georgia, serif;
}


#OT_David {
  font-size: 1.2em;
  font-weight: bold;
  color: purple;
}

.bio {

  color: black;
}

.intro-note {
 
  padding-top: 2%;
  margin-top: 2%;
}

.case_study {
  padding: 0 7% 0 7%;

}

a:hover {
  color: rgb(119, 64, 0);
  background-color: white;
}

.logo {
  width: 50%;
  border-radius: 100%;
  margin-bottom: 5%;
}

/* Text Overlay on Image */

/* Container holding the image and the text */
.containerr {
  /* padding: 0 5% 0 5%; */
  position: relative;
  text-align: center;
  color: white;
  
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.front_image {
  opacity: 0.5;
  height: 600px;
  background-color: black;
  transition: 2s;
}

/* Text Overlay on Image */










h4 {
  padding: 3%;
  text-align: center;

}


h5 {
  padding: 2% 0% 2% 7%;
  text-decoration: underline;
  text-align: left;
  font-weight: 900;
  font-size: 1.7em;
}

h1, h2, h3, h4, h5, h6 {
/*   font-family: cursive; */
  font-family: "Merriweather", Georgia, serif;
   
}
.contact,
.about-me {
  padding: 2% 10% 2% 10%;
  background-color: whitesmoke;
}

.get-in-touch {
  background-color: rgb(202, 224, 248);
  padding: 2% 10% 2% 10%;
  text-transform: uppercase;
  text-align: center;
}

.get-in_touch {
  font-weight: bold;
  font-size: 1.2em;
}

#get_in_touch {
  width: 75%;
  text-align: center;
}


.about-me {
  padding: 2% 10% 2% 10%;
  background-color: whitesmoke;
}

h3 {
  text-decoration: underline;
}

.web-body {
  margin-top: 50px;
}

.professional_image {
  width: 75%;
}

#slide_image {
  height: 345px;
  width: 100%;
}

#pages {
  color: rgb(124, 118, 124);
  font-size: 0.9em;

}

h6 {
  text-align: left;
  font-weight: 900;
  font-size: 1.2em;

}

h3 {
  text-align: left;
}

.input {
  text-align: center;
  padding: 2%;
}

.footer {
  background-color: whitesmoke;
  text-align: center;
  margin-top: 5%;

}

/* Media Query */

@media screen and (max-width:720px) {


  .web-body{
    margin-top: 110px;
    padding: 0;
    

  }
  .containerr {
    /* padding: 0 5% 0 5%; */
    position: relative;
    text-align: left;
    color: white;
  }

  .centered {
    position: absolute;
    top: 1%;
    left: 1%;
    transform: translate(0%, 0%);
  }

  .front_image {
    opacity: 0.5;
    height: 400px;
    background-color: black;
    transition: 2s;
  }














}












/* Social Media */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 5%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 100%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

/* CSS for porfolio html */
#project {
  
 background-color: #e2e2e2;
  opacity: 0.9;
 padding: 2%;
  border: solid 2px grey;
  border-style: groove;
  }

#project:hover {
  opacity: 1;
  background-color: #fafafa;
}


/* CSS for phone  */


@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  p, h1, h2, h3, h4, h5, h6, li, ul, #pages, header, nav {
  font-size: 0.8em}
  
  header, nav, #pages, span {
  font-size: 0.9em}
}

